
/*
* Abby Vanderloo
* March 28, 2018
* CSS Metadata Practice 
*/


/* The universal selector */

* {
font-family: Courir, Times, Arial; /*body font family*/
}

/* Put body attributes here */

body { background-color: yellow;
color: Black;


}
.title{ text-align: center;

/* font-family: arial, courier, times;*/
font-size: 150%; /*Font percent*/
text-decoration: underline;


}
.P {float:right}
.P2 {float:left}